<section class="section columns">
  <div class="container column is-three-fifths is-offset-one-fifth">
    <h1 class="title">
      Issues List
    </h1>
    <div class="content is-marginless">
      <span class="has-text-danger">Open {{openIssues}} </span> &nbsp;
      <span class="has-text-success">Closed {{closedIssues}}</span>
    </div>
    <div class="content" [ngClass]="{'is-hidden': !spinner}">             
      <div class="loader center"></div>
    </div>
    <div class="content" [ngClass]="{'is-hidden': spinner}">

      <div class="box columns is-gapless" *ngFor="let issue of issues">
        <div class="column">
         <span class="icon is-small">
          <i class="fas" [ngClass]="{'fa-exclamation-circle has-text-success': issue.state === 'open', 'fa-times-circle has-text-danger' : issue.state != 'open'}"></i>
        </span> 
      </div>
      <div class="column is-11">
        <a href="{{issue.url}}" class="is-size-5 is-inline-block">{{issue.title}}</a>
        <div class="tags is-inline-block is-marginless" >
          <span class="tag has-text-white" *ngFor="let label of issue.labels" [ngStyle]="{'background-color' : '#' + label.color}">{{label.name}}</span>
        </div>
        <h6 class="subtitle is-size-7"><strong>#{{issue.number}}</strong> <i>opened on {{issue.created}} by <a href=" {{issue.creator.html_url}}" [ngClass]="{'has-text-success': issue.creator.site_admin}">{{issue.creator.login}}</a></i></h6>
      </div>
      <div class="column">
        <a href="{{issue.comments_url}}">
          <span class="icon is-small">
            {{issue.comments}}&nbsp;
            <i class="fas fa-comment-alt"></i>
          </span>
        </a>
      </div>
    </div> 
  </div>
</div>
</section>
<div class="modal is-active" *ngIf="error">
  <div class="modal-background"></div>
  <div class="modal-content">

    <div class="notification has-text-centered">
      {{errorMessage}}
    </div>
  </div>
</div>

